/node_modules
/cache
/backupCache
*.cache
/package-lock.json
/settings.json
/settings-*.json
/settings-ok.json
/bin
/obj
/keys
/.vs

/**/.directory
.directory
.mypid

log.txt
log-*.txt
/log
/logClients
/cacheJson
/logMysqlEvents

test.js
prova.js
testData.json